body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
  }
  
  h1, h2, h3, h4 {
    text-align: center; 
    color: #333;
  }
  
  #p1 {
    color: #800000;
    background-color: #ffe5e5;
    padding: 10px;
    border-radius: 5px;
  }
  
  #p2 {
    color: #005f5f;
    background-color: #d8f3f3;
    padding: 10px;
    border-radius: 5px;
  }
  
  #p3 {
    color: #47057c;
    background-color: #e0d4f7;
    padding: 10px;
    border-radius: 5px;
  }
  
  #p4 {
    color: #8b4513;
    background-color: #f5e5d9;
    padding: 10px;
    border-radius: 5px;
  }
  
  #p5 {
    color: #228b22;
    background-color: #d9f5e5;
    padding: 10px;
    border-radius: 5px;
  }
  
  #p6 {
    color: #00008b;
    background-color: #d1e0ff;
    padding: 10px;
    border-radius: 5px;
  }
  
